/* تنسيق الجسم بشكل عام */
body {
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #f0f0f0;  
    color: #333;
    transition: background-color 0.3s, color 0.3s;  /* إضافة تأثير التغيير السلس */
}

/* إضافة تنسيق الوضع الداكن (Dark Mode) */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

/* شريط التفاعلات العلوي */
#top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
}

#top-bar #social-links a,
#top-bar #dark-mode-toggle button {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

#top-bar #social-links a:hover,
#top-bar #dark-mode-toggle button:hover {
    text-decoration: underline;
}

/* توسيط اسم الموقع */
#site-name {
    text-align: center;
    margin-top: 50px;
}

#site-name h1 {
    color: #00bcd4;  /* السماوي الفاتح المائل للرصاصي */
    font-size: 36px;
    font-weight: bold;
}

/* تنسيق الصورة الشخصية داخل دائرة */
#user-info {
    position: relative;
    display: inline-block;
}

#profile-image {
    width: 50px; /* يمكنك تغيير الحجم حسب الحاجة */
    height: 50px; /* تأكد من أن العرض والطول متماثلين للحصول على صورة دائرية */
    border-radius: 50%; /* يجعل الصورة دائرية */
    object-fit: cover; /* يضمن أن الصورة ستملأ الدائرة بالكامل */
    cursor: pointer;
}

/* التنسيق الأساسي للمحتوى */
section {
    padding: 20px;
    text-align: center;
}

/* تنسيق الفوتر */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
}

footer p {
    margin: 0;
    font-size: 14px;
}

/* زر الداكن مود */
#dark-mode-toggle button {
    background-color: #444;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
}

#dark-mode-toggle button:hover {
    background-color: #666;
}
